SECRET_KEY=some-secret-key
DEBUG=true
SERVE_MEDIA=true
ENABLE_BROWSABLE_API=False
MEDIA_ROOT=./media

# =================Orgin Allowed================================
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost:8005,http://127.0.0.1:8005,https://csd33v80-8005.inc1.devtunnels.ms


# =================API Extra Security================================
FRONTEND_APP_KEY=some-frontend-app-key


# *** Google Map API Key For Geocoding and Reverse Geocoding =====================
# GOOGLE_MAP_API_KEY=some-google-map-api-key
GOOGLE_MAP_API_KEY=some-google-map-api-key


# *** Frontend Web URL =====================
FRONTEND_URL=http://127.0.0.1:8005


# *** Twilio Credentials *** ====================
ACCOUNT_SID=some-account-sid
AUTH_TOKEN=some-auth-token

# FREE_TRAIL_ACCOUNT_CREDENTIALS============
FREE_TRAIL_OWNER_ACCOUNT_ID=some-free-trail-owner-account-id
FREE_TRAIL_ACCOUNT_SID=some-free-trail-account-sid
FREE_TRAIL_AUTH_TOKEN=some-free-trail-auth-token


# Example Demo Data for Develop (Safa World)---------------------
OWNER_ACCOUNT_ID_2=some-owner-account-id-2
SID_2=some-sid-2
AUTH_TOKEN_2=some-auth-token-2

# Twilio Policy ID -------------------------------
trust_hub_policy_sid=some-trust-hub-policy-sid
a2p_evaluation_policy_sid=some-a2p-evaluation-policy-sid
STARTER_CUSTOMER_PROFILE_POLICY_SID=some-starter-customer-profile-policy-sid
SECONDARY_CUSTOMER_PROFILE_POLICY_SID=some-secondary-customer-profile-policy-sid
# =================================================


WEBHOOK_URL=https://55k6tr24-8005.inc1.devtunnels.ms/api/v1/twilio/webhook/



